body {
    width: 98%;
    margin: auto;
}
#containerNav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.divNav:nth-child(1) {
    display: flex;
    flex-basis: 50%;
}

li {
    list-style: none;
    display: inline-block;
}

.containerArticle {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    margin-bottom: 2%;
    border: 1px solid black;
}

.elementContainerArticle {
    display: flex;
}
.elementContainerArticle:nth-child(1){
    flex-basis: 30%;
}
.elementContainerArticle:nth-child(1) img{
    width: 100%;
}
.elementContainerArticle:nth-child(2){
    flex-basis: 70%;
}

.contentDescriptionArticle {
    padding: 2%;
    text-align: justify;
}

h2 {
    text-align: center;
}

h1 {
    text-align: center;
}

.lienPageCustomArticle{
    margin-top: 2%;
    padding-left: 10%;
}
.lienPageCustomArticle a{
    text-decoration: none;
    cursor: pointer;
    font-weight: bolder;
}

header {
    margin-top: 2%;
    margin-bottom: 2%;
}

#selectOptionProduit{
    text-align: center;
    margin-top: 4%;
    margin-bottom: 2%;
}

.boutonSubmit{
    margin-left: 2%;
}

.divPrix{
    margin-top: 2%;
    text-align: right;
}
//gestion du panier
.ContenairePanier{
    width: 98%;
    margin: auto;
}
.contenaireLignePanier{
    width: 100%;
    display: flex;
    flex-direction: row;
}
.element-lignePanier{
    flex-basis: 20%;
}
.element-lignePanier:nth-child(1) img{
    width: 100%;
}


input:invalid {
 box-shadow: 2px 2px 0 0 red;
  box-shadow: 0 0 2px 2px red;
}

input:valid {
 box-shadow: 2px 2px 0 0 green;
  box-shadow: 0 0 2px 2px green;
}